@import "../../../styles/abstracts/variables";

.kyc__warnings{
    background: #FFF;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding: 1.5rem;

    h3{
        font-family: $font-bold;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: .3rem;
        font-size: 1rem;
    }

    p{
        padding-bottom: 1.5rem;
        font-size: .85rem;
        font-weight: bold;
        opacity: .8;
        color: #343434;
        line-height: 1.7;
        padding-top: .5rem;
    }

    a{
        background: $col-primary-btn;
        border-radius: 6px;
        padding: .7rem 1.6rem;
        color: #FFF;
        font-family: $font;
        font-weight: bold;
        font-size: .8rem;
    }
}