@import "../../../styles/abstracts/variables";

.mission{
    margin-top: 5rem;
    font-family: $font;

    &__header{
        max-width: 800px;
        padding-bottom: 1rem;

        h3{
            font-family: $font-bold;
            color: $col-primary-btn;
            padding-bottom: .5rem;
        }

        h1{
            font-family: $font-bold;
            font-size: 2.2rem;
            text-transform: capitalize;
        }
    }

    &__details{
        padding-bottom: 3rem;
        max-width: 900px;

        p{
            line-height: 2;
            color: #343434;
            font-weight: bold;
            opacity: .8;
            font-size: .98rem;
            padding-bottom: 3rem;
        }
    }
}