@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.features{
    padding: 5rem 0;
    background: $col-light;

    &__header{
        max-width: 700px;
        h2{
            text-transform: none;
            font-size: 2.7rem;
            font-family: $font-bold;
            line-height: 1.2;
            color: $col-dark;
            text-transform: capitalize;
        }
    }

    &__grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        margin-top: 3rem;

        &__item{
            &__item1, &__item2{
            border: 1px solid #ebebeb;
            border-radius: 10px;
            padding: 3rem 3rem;
            position: relative;
            height: 27rem;
            background: linear-gradient(rgba(242,242,242, .8), rgba(242,242,242, .9)), url("../../../../public/assets/waves.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            color: #000;
            cursor: pointer;
            transition: all ease-out .5s;

            &__text{
                position: relative;
                max-width: 70%;

                h2{
                    font-family: $font-bold;
                }

                p{
                    padding-top: .5rem;
                    opacity: .75;
                    line-height: 1.6;
                    font-weight: bold;
                }

                &--bottom{
                    position: absolute;
                    top: 19em;
                }
            }

            &__thumbnail{
                position: absolute;
                right: 1rem;
                bottom: 0;
            }
            }
            // &__item1:hover{
            //     background: linear-gradient(rgba(25,63,82, .93), rgba(6,144,84, .92)), url("../../../../public/assets/waves.svg");
            //     color: #FFF !important;
            //     background-size: cover;
            //     background-position: center;

            //     p{
            //         opacity: .8 !important;
            //     }
            // }

            &__item2{
                border: 1px solid #F2F2F2;
                color: #000 ;
            }
            // &__item2:hover{
            //     background: linear-gradient(rgba(25,63,82, .93), rgba(6,144,84, .92)), url("../../../../public/assets/waves.svg");
            //     color: #FFF !important;
            //     background-size: cover;
            //     background-position: center;

            //     p{
            //         opacity: .8 !important;
            //     }
            // }
        }
    }
}