@import "../../../styles/abstracts/variables";

.todos{
    margin-top: 2rem;
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    h3{
        font-weight: 800;
        padding-bottom: 1.2rem;
        color: #343434;
    }
    &__todos{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        grid-row-gap: 12px;
        text-align: center;
        cursor: pointer;
        padding-bottom: .5rem;

        a{
            color: $col-primary-btn;
            font-weight: bold;
            font-size: .85rem;
        }
    }
}