$font: "Font", sans-serif;
$font-medium: "Moderat Medium";
$font-bold: "Font Bold";

$col-primary: #071E3C;
$col-light: #F8FAFC;
$col-dark: #000;
$col-secondary: #1769fd;
$col-primary-btn: #069054;

$col-success-bg: #D4EDDA;
$col-success-color: #2EAB5B;
$col-danger-bg: #F9D7DA;
$col-danger-color: #721C23;