@import "../styles/abstracts/variables";
@import "../styles/abstracts/mixins";

.layout{
    background: #F5F5F7;
    height: 100vh;
    display: grid;
    grid-template-columns: 310px 1fr;
    font-family: $font;
    position: relative;
    // grid-gap: 50px;

    &__sidebar{
        position: fixed;
        width: 290px;
    }

    @include phone {
        grid-template-columns: 1fr;
    }

    // &__sidebar{
    //     @include phone {
    //         display: none;
    //     }
    // }

    &__content{
        position: absolute;
        left: 290px;
        right: 0;
        width: calc(100% - 310px); 
        background: #F5F5F7;

        &__navbar{
            position: fixed;
            width: calc(100% - 290px);
            z-index: 20;
            background: #FFF;
        }
        &--children{
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 1fr 310px;
            padding: 2rem;
            padding-top: 6.7rem;
            position: relative;


            &--rightbar{
                position: fixed;
                width: 310px;
                right: 1.5rem;
                top: 7rem;
                z-index: 2;
                height: 100vh;
            }
        }
    }
}


.show{
    padding: 10rem !important;
    background: red !important;
    width: 100% !important;
    height: 100% !important;
}